ul,
li {
    list-style-type: none;
}

.mx-n-16 {
    margin-left:-16px;
    margin-right:-16px;
}

.ms-n-16 {
    margin-left:-16px;
}

/* Common Button CSS Starts Here */

.btn-delete {
    background: #FDECEA !important;
    border: 1px solid #EA43354D !important;
}

.btn-primary {
    background: #408DFB !important;
    border: 1px solid #408DFB !important;
}

/* Common Button CSS Ends Here */


/* Common Box CSS Starts Here */

.common-breadcrum {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    text-wrap: nowrap;
}

.common-breadcrum > li {
    position: relative !important;
    padding-left: 15px !important;
    font-size: 1.085714rem !important;
    font-weight: 500;
    line-height: 1;
}

.common-breadcrum > li > a {
    text-decoration: none;
}

.common-breadcrum > li:not(:first-child)::before {
    content: url(../images/greater-then-arrow.svg);
    position: absolute !important;
    left: 0;
    color: black !important;
    font-size: 1.2857142857rem !important;
    font-weight: 700;
    bottom: 1px;
}


.box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 8px #00000014;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    min-height: calc(100vh - 200px);
}

/* Common Box CSS Ends Here */

/* Common Action Wrapper CSS Starts Here */
ul.common-action-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem;
    margin: 0;
}

ul.common-action-wrapper li {
    margin: 0 0.3rem;
}

ul.common-action-wrapper li:first-child {
    margin-left: 0;
}

ul.common-action-wrapper li:last-child {
    margin-right: 0;
}

.pagination-wrapper {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.common-button {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    color: #21263C;
    display: flex;
    transition: 0.3s all;
}

.common-button:hover {
    box-shadow: 0px 0px 6px #83838333;
}

.common-button img {
    margin-right: 5px;
    width: 16px;
}

.search-field {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    padding: 0.2rem 0.7rem;
    font-size: 0.8rem;
}

/* Common Action Wrapper CSS Ends Here */


/* Common Table CSS Starts Here */

.common-table thead tr th {
    color: #212529;
    background: #E8E9EB;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;
    padding: 0.5rem 1rem;
    vertical-align: middle;
}

.common-table thead tr th:last-child,
.common-table tbody tr td:last-child {
    text-align: right;
}

.common-table tbody tr td {
    border-bottom: 1px solid #f1e9e9;
    color: #212529;
    font-size: 0.8rem;
    text-align: left;
    padding: 0.5rem 1rem;
    vertical-align: middle;
}

.action-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action-button-wrapper button {
    margin-left: 10px;
}

/* Common Table CSS Ends Here */

/* Common Filter Modal Css Starts Here */

.modal-header {
    background: #E8E9EB;
}

.center-common-modal .modal-title {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #21263C;
    font-weight: 600;
}


/* Common Filter Modal Css Endss Here */


/* Common Form Control Css Starts Here */

    .common-label {
        color: #212529;
        font-weight: 500;
        font-size: 0.8rem;
    }

    .common-control {
        color: #838383 !important;
        font-size: 0.8rem !important;
    }

    .form-gap {
        margin-bottom: 1rem;
    }

    .common-form-wrapper .form-gap:last-child {
        margin-bottom: 0;
    }

    .custom-selectpicker {
        font-size: 0.8rem;
        color:#838383 !important
    }

    .custom-selectpicker .select__control {
        min-height: 32px;
    }

    .custom-selectpicker .select__indicator {
        padding:4px;
    }

    .custom-selectpicker .select__indicator-separator  {
        width:0;
    }

    .custom-selectpicker .select__input-container {
        color:#212529;
    }

/* Common Form Control Css Endss Here */

/* ============ Common Seperator CSS Starts Here ============== */

.common-seperator {
    background: #EEEEEE;
    border-bottom: 1px solid #C9C9C9;
    min-height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 1rem;
    list-style-type: none;
}

.common-seperator .seperator-main-heading {
    color: #212529;
    font-size: 0.942857rem;
    font-weight: 500;
}

/* ============ Common Seperator CSS Ends Here ============== */

/*Common Radio Button And Checkbox Design Css Start Here*/

.btn-radio-group {
    border: 1px solid #D5D5D4;
    border-radius: 5px;
    position: relative;
    padding: 0;
    margin-top: 0;
}

.btn-radio-group > label {
    position: absolute;
    top: -10px;
    left: 6px;
    background: #fff;
    padding: 0 5px;
}

.boxed1 label {
    display: inline-block;
    padding: 5px 10px;
    width: 100%;
    transition: all 0.3s;
    border: 1px solid #8D909933;
    border-radius: 4px;
    text-align: left;
    background-color: #7A86A508;
    color: #202124;
    font-size: 0.8rem;
}

.btn-radio-group .boxed1 {
    align-items: center;
    justify-content: space-between;
    --bs-gutter-x: 0;
}

.btn-radio-group .input_02_radio {
    margin-bottom: 0 !important;
    position: relative;
}

.btn-radio-group .boxed1 label {
    background-color: transparent;
    padding-left: 30px;
    border-color: transparent;
    position: relative;
}

.btn-radio-group-image.btn-radio-group .boxed1 label {
    top: 0px;
    padding: 5.2px 10px;
    text-align: center;
}

.btn-radio-group-image.btn-radio-group .boxed1 label img {
    width:20px;
    margin-right:3px;
}

.btn-radio-group .boxed1 input[type="radio"], .btn-radio-group .boxed1 input[type="checkbox"] {
    position: absolute;
    right: auto;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-radio-group .boxed1 input[type="radio"]:checked + label {
    background-color: transparent;
    border-color: transparent;
    /*color: #5b5b5b;*/
}

.btn-radio-group-image.btn-radio-group .boxed1 input[type="radio"]:checked + label {
    background-color: #3e85f0;
    border-color: transparent;
    color: #fff;
}

.btn-radio-group-image.btn-radio-group .boxed1 input[type="radio"]:checked + label img {
    filter: brightness(0) invert(1);
}

/*Common Radio Button And Checkbox Design Css End Here*/

/* Common Toggle On/Off Button Css Start Here */

.toggle-button-cover {
    position: relative;
}

.button-cover {
    margin-left: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.common-checkbox-toggle {
    position: relative;
    /*top: 50%;*/
    width: 48px;
    height: 22px;
    /*margin: 0 auto 0 auto;*/
    overflow: hidden;
    /*transform: translate(0px, -50%);*/
}

.common-checkbox-toggle.r,
.common-checkbox-toggle.r .layer {
    border-radius: 100px;
}

.common-checkbox-toggle.b2 {
    border-radius: 20px;
}

.checkbox-toggle-btn {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 !important;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #5b5b5bb5;
    transition: 0.3s ease all;
    z-index: 1;
}

.fa-search:before {
    font-family: 'FontAwesome';
}

/* Button 13 */

.common-checkbox-toggle .knobs:before,
.common-checkbox-toggle .knobs:after,
.common-checkbox-toggle .knobs span {
    position: absolute;
    top: 2px;
    width: 20px;
    height: 17px;
    font-size: 9px;
    font-weight: 600;
    text-align: center;
    line-height: 10px;
    padding: 6px 0px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

.common-checkbox-toggle .knobs:before,
.common-checkbox-toggle .knobs:after {
    color: #fff;
    z-index: 1;
}

.common-checkbox-toggle .knobs:before {
    content: 'YES';
    left: 3px;
}

.common-checkbox-toggle .knobs:after {
    content: 'NO';
    right: 3px;
}

.common-checkbox-toggle .knobs span {
    width: 18px;
    height: 18px;
    left: 3px;
    background-color: #fff;
    z-index: 2;
    border-radius: 50px;
}

.common-checkbox-toggle .checkbox-toggle-btn:checked + .knobs span {
    left: 27px;
    background-color: #fff;
    top: 2px;
}

.common-checkbox-toggle .checkbox-toggle-btn:checked ~ .layer {
    background-color: #3e85f0;
}


/* Common Toggle On/Off Button Css End Here */

/* Common Single File Upload Css Starts Here */

.common-file-upload {
    position: relative;
    border: 2px dashed #ccc;
    height: 100%;
}

.image-preview-wrapper, .file-upload-wrapper {
    position: relative;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;
}

.common-file-upload p {
    font-size: 0.6rem;
    color: #000;
}

.common-file-upload .selected-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.common-file-upload .image-preview-wrapper:hover .removeBtn {
    display: flex !important;
}

.common-file-upload .removeBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
    gap: 4px;
    color: #f83d3d;
    border: 1px solid #f83d3d;
    padding: 5px 10px;
    border-radius: 3px;
    background: #fdf1f1;
    z-index: 9;
    min-width: max-content;
}

.common-file-upload .image-preview-wrapper:hover:after {
    background: #00000059;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.common-file-upload.dragging {
    border-color: #00aaff;
    background-color: #f0faff;
}

.common-file-upload input[type="file"] {
    width: 100%;
    height: 100%;
}

/* Common Single File Upload Css End Here */

/* Common Font Size Css Start Here */

.fs-10 {
  font-size: 0.7142857143rem!important; }

.fs-12 {
  font-size: 0.8571428571rem!important; }

.fs-13 {
  font-size: 0.9285714286rem!important; }

.fs-14 {
  font-size: 1rem!important; }

.fs-15 {
  font-size: 1.0714285714rem!important; }

.fs-16 {
  font-size: 1.1428571429rem!important; }

.fs-18 {
  font-size: 1.2857142857rem!important; }

.fs-20 {
  font-size: 1.4285714286rem!important; }

.fs-22 {
  font-size: 1.5714285714rem!important; }

.fs-24 {
  font-size: 1.7142857143rem!important; }

.fs-26 {
  font-size: 1.8571428571rem!important; }

.fs-30 {
  font-size: 2.1428571429rem!important; }

  /* Common Font Size Css End Here */